body {
    background:white;
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 20px;
    
} 
p{
    color:#8c8c8c;
    font-size: 20px;
}

a:hover,
a:focus,
h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align-last: center;
}

.mainpage{
    padding:50px;
    margin-top: 5px;
}
.card{
    margin:0 auto;
    width: 50%;
    height: 2%;
}
header{
    text-align: center;
}
header.container{
    padding-top: 100px;
}

.navbar-brand{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 5px;  
}
.nav-color{
    background-color: #dda0dd;
}


.row{
    text-align: center;
    

}
#contact-form {
    margin: auto;
    color: black;
    padding: 65px 65px;
    text-align: center;
} 

.nav-color{
    background-color: #dda0dd;
}
.row{
    text-align: center;
}
    
#name{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}
#email{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}
#submit{
    width: auto;
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    color: #dda0dd;
    margin-top: 50px;
}
.footer-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:white;
    font-size: 1.2em;
    text-align: center;
    background-color: #343a40;
}